.side-panel {
  height: 100%;
  display: flex;
  flex-direction: column;

  gap: 12px;

  .gradient-wrapper {
    background-image: linear-gradient(180deg, #05050540 32px, #060606 400px);

    overflow: hidden;
    min-height: 100%;
  }

  > .content-wrapper {
    background-size: contain;

    background-color: var(--cprim);
    border-radius: var(--full-bdrd);
    flex: 1;

    .m-header {
      height: 54px;
      padding-top: 8px;

      display: flex;
      align-items: center;
      justify-content: center;
    }

    .section-header {
      display: flex;
      align-items: center;
      padding: 0.6em;
      gap: 0.5em;

      border-radius: 8px;

      background-color: #353535;

      margin: 8px;

      > svg {
        font-size: 1.6em;
      }
    }

    > .section-header.sticky {
      position: sticky;
      top: 8px;
    }
  }

  > .nav-bar {
    gap: 12px;
    height: 60px;
  }

  h1 {
    font-size: 2em;
    display: flex;
    align-items: center;

    border-left: 6px solid #aaa;
    padding-left: 12px;
  }
}

.search-bar {
  height: 60px;
  padding: 0 6px;
  margin-bottom: 12px;

  background-color: var(--clight);
  border-radius: var(--half-bdrd);

  position: sticky;
  top: 6px;
  z-index: 2;

  gap: 4px;

  > input {
    background: none;
    border: none;
    outline: none;

    font-size: 1em;
    font-family: inherit;
    color: inherit;

    flex: 1;
  }
}
